:root{
	--theme-storefront-primary: #43454b;
	--theme-storefront-primary-300:#b4b5b7;
	--theme-storefront-secondary: #111;
	--theme-storefront-accent:#96588a;
	--theme-storefront-accent-300:#c09bb9;
	--theme-storefront-accent-700:#693e61;
	/* end --theme-storefront */
	--theme-twentynineteen-primary: #0073aa;
	--theme-twentynineteen-primary-300:#80b9d5;
	--theme-twentynineteen-secondary: #111;
	--theme-twentynineteen-accent:#005177;
	--theme-twentynineteen-accent-300:#80a8bb;
	--theme-twentynineteen-accent-700:#00415f;
	/* end --theme-twentynineteen */
	--theme-twentyseventeen-primary: #222;
	--theme-twentyseventeen-primary-300:#767676;
	--theme-twentyseventeen-secondary: #111;
	--theme-twentyseventeen-accent:#3ab166;
	--theme-twentyseventeen-accent-300:#cbefd9;
	--theme-twentyseventeen-accent-700:#17763a;
	/* end --theme-twentyseventeen */
	--theme-twentysixteen-primary: #1a1a1a;
	--theme-twentysixteen-primary-300:#5f5f5f;
	--theme-twentysixteen-secondary: #007acc;
	--theme-twentysixteen-secondary-300: #66afe0;
	--theme-twentysixteen-accent:#007acc;
	--theme-twentysixteen-accent-300:#66afe0;
	--theme-twentysixteen-accent-700:#00558f;
	/* end --theme-twentysixteen */
	--theme-twentytwenty-primary: #cd2653;
	--theme-twentytwenty-primary-300:#d75175;
	--theme-twentytwenty-secondary: #000;
	--theme-twentytwenty-secondary-300: #333;
	--theme-twentytwenty-accent:#cd2653;
	--theme-twentytwenty-accent-300:#e693a9;
	--theme-twentytwenty-accent-700:#7b1732;
	/* end --theme-twentytwenty */
	--theme-twentytwentyone-primary: #28303d;
	--theme-twentytwentyone-primary-300:#a9acb1;
	--theme-twentytwentyone-seconadry: #d1e4dd;
	--theme-twentytwentyone-accent:#3ab166;
	--theme-twentytwentyone-accent-300:#cbefd9;
	--theme-twentytwentyone-accent-700:#17763a;
	/* end --theme-twentytwentyone */
}
.non-clickable {
	pointer-events: none;
	opacity: 0.5;
}

.datepicker-inline {
	width: 100% !important;
}

/* for All Global Themes */
.ersrv-reservation-widget-container{
	margin: 10px 0px;
}
.ersrv-reservation-widget-container .selectbox {
    margin-bottom: 12px;
}
.ersrv-widget-calendar .ui-datepicker-inline table{
	border: 0px;
}
.ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-header .ui-datepicker-title select{
	padding: 4px 12px 4px 4px;
	height: auto;
}
.ersrv-widget-calendar .ui-datepicker .ui-datepicker-prev,
.ersrv-widget-calendar .ui-datepicker .ui-datepicker-next,
.ersrv-widget-calendar .ui-datepicker .ui-datepicker-prev.ui-state-hover,
.ersrv-widget-calendar .ui-datepicker .ui-datepicker-next.ui-state-hover{
	top: 8px !important;
}
.ersrv-widget-calendar .ui-datepicker .ui-datepicker-prev,
.ersrv-widget-calendar .ui-datepicker .ui-datepicker-next{
	background-color: #0c71c3;
	color: #fff;
}
.ersrv-widget-calendar .ui-datepicker .ui-datepicker-prev.ui-state-hover,
.ersrv-widget-calendar .ui-datepicker .ui-datepicker-next.ui-state-hover{
	color: #000;
    background-color: #d1e6f7;
    border-color: #0c71c3;
}

.ersrv-widget-calendar .ui-datepicker-inline {
	background: #fff;
	/* box-shadow: 0 3.1px 29.1px rgba(0, 0, 0, 0.15), 0 25px 80px rgba(0, 0, 0, 0.25); */
	border-radius: 5px;
	padding: 10px;
	z-index: 9999 !important;
	width: 18em;
}

.ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-header .ui-datepicker-prev:hover {
	text-decoration: none;
	top: 2px;
	left: 2px;
}

.ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-header .ui-datepicker-prev,
.ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-header .ui-datepicker-next {
	width: 40px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	border: 1px solid #0c71c3;
	cursor: pointer;
}

.ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-header .ui-datepicker-prev .ui-icon,
.ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-header .ui-datepicker-next .ui-icon {
	text-indent: 0px;
	position: relative;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	transform: none;
	margin: 0px;
	font-size: 12px;
	font-weight: 600;
}

.ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-header .ui-datepicker-prev:hover,
.ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-header .ui-datepicker-next:hover {
	text-decoration: none;
	top: 2px;
}

.ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-header .ui-datepicker-prev:hover {
	left: 2px;
}

.ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-header .ui-datepicker-next:hover {
	right: 2px;
}

.ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-header .ui-datepicker-title {
	font-size: 14px;
	font-weight: 600;
}

.ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-buttonpane {
	display: none;
}

.ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar thead tr th {
	font-size: 14px;
	font-weight: 600;
	color: #000;
}
.ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td{
	background-color: transparent;
}
.ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td,
.ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a {
	font-size: 14px;
	font-weight: 600;
	color: #8a8f9c;
	text-align: center;
}
.ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td span,
.ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a,
.ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a a {
	padding: 2px 7px;
	text-align: center;
}

.ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td.ui-state-highlight,
.ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a.ui-state-highlight {
	color: #3e3e3e;
	background-color: #cbefd9;
	border-radius: 100%;
}

.ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td.ui-state-active,
.ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a.ui-state-active {
	color: #fff;
	background-color: #3ab166;
	border-radius: 100%;
}
.ui-datepicker-calendar .ui-state-disabled *, 
.ui-datepicker-calendar .ersrv-date-disabled * {
    color: #fff;
    background-color: #e0e0e0;
    border-radius: 100%;
}
/*-------------------- end here ----------------------------*/

/* for storefront Theme */
.theme-storefront .ersrv-reservation-widget-container{
	margin: 10px 0px;
}
.theme-storefront .ersrv-reservation-widget-container .selectbox {
    margin-bottom: 12px;
}
.theme-storefront .ersrv-widget-calendar .ui-datepicker-inline table{
	border: 0px;
}
.theme-storefront .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-header .ui-datepicker-title select{
	padding: 4px 16px 4px 10px;
}
.theme-storefront .ersrv-widget-calendar .ui-datepicker .ui-datepicker-prev,
.theme-storefront .ersrv-widget-calendar .ui-datepicker .ui-datepicker-next,
.theme-storefront .ersrv-widget-calendar .ui-datepicker .ui-datepicker-prev.ui-state-hover,
.theme-storefront .ersrv-widget-calendar .ui-datepicker .ui-datepicker-next.ui-state-hover{
	top: 8px !important;
}
.theme-storefront .ersrv-widget-calendar .ui-datepicker .ui-datepicker-prev,
.theme-storefront .ersrv-widget-calendar .ui-datepicker .ui-datepicker-next{
	background-color: var(--theme-storefront-accent-700);
	color: #fff;
}
.theme-storefront .ersrv-widget-calendar .ui-datepicker .ui-datepicker-prev.ui-state-hover,
.theme-storefront .ersrv-widget-calendar .ui-datepicker .ui-datepicker-next.ui-state-hover{
	color: #000;
    background-color: var(--theme-storefront-accent-300);
    border-color: var(--theme-storefront-accent-700);
}

.theme-storefront .ersrv-widget-calendar .ui-datepicker-inline {
	width: 14em;
}

.theme-storefront .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-header .ui-datepicker-prev:hover {
	text-decoration: none;
	top: 2px;
	left: 2px;
}

.theme-storefront .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-header .ui-datepicker-prev,
.theme-storefront .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-header .ui-datepicker-next {
	width: 40px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	border: 1px solid var(--theme-storefront-accent);
	cursor: pointer;
}

.theme-storefront .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-header .ui-datepicker-prev .ui-icon,
.theme-storefront .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-header .ui-datepicker-next .ui-icon {
	text-indent: 0px;
	position: relative;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	transform: none;
	margin: 0px;
	font-size: 12px;
	font-weight: 600;
}

.theme-storefront .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-header .ui-datepicker-prev:hover,
.theme-storefront .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-header .ui-datepicker-next:hover {
	text-decoration: none;
	top: 2px;
}

.theme-storefront .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-header .ui-datepicker-prev:hover {
	left: 2px;
}

.theme-storefront .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-header .ui-datepicker-next:hover {
	right: 2px;
}

.theme-storefront .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-header .ui-datepicker-title {
	font-size: 14px;
	font-weight: 600;
	margin: 0px 1rem;
}

.theme-storefront .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-buttonpane {
	display: none;
}

.theme-storefront .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar thead tr th {
	font-size: 14px;
	font-weight: 600;
	color: #000;
}
.theme-storefront .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td{
	background-color: transparent;
}
.theme-storefront .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td,
.theme-storefront .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a {
	font-size: 14px;
	font-weight: 600;
	color: #8a8f9c;
	text-align: center;
}
.theme-storefront .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td span,
.theme-storefront .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a,
.theme-storefront .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a a {
	padding: 3px 7px;
	text-align: center;
}

.theme-storefront .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td.ui-state-highlight,
.theme-storefront .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a.ui-state-highlight {
	color: #3e3e3e;
	background-color: var(--theme-storefront-accent-300);
	border-radius: 100%;
}

.theme-storefront .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td.ui-state-active,
.theme-storefront .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a.ui-state-active {
	color: #fff;
	background-color: var(--theme-storefront-accent);
	border-radius: 100%;
}
.theme-storefront .ui-datepicker-calendar .ui-state-disabled *, 
.theme-storefront .ui-datepicker-calendar .ersrv-date-disabled * {
    color: #fff;
    background-color: #e0e0e0;
    border-radius: 100%;
}
/*-------------------- end here ----------------------------*/
/* for twentynineteen Theme */
.theme-twentynineteen .ersrv-reservation-widget-container{
	padding-right: 1rem;
}
.theme-twentynineteen .ersrv-widget-calendar .ui-datepicker .ui-datepicker-prev,
.theme-twentynineteen .ersrv-widget-calendar .ui-datepicker .ui-datepicker-next{
	background-color: var(--theme-twentynineteen-accent-700);
	color: #fff;
}
.theme-twentynineteen .ersrv-widget-calendar .ui-datepicker .ui-datepicker-prev.ui-state-hover,
.theme-twentynineteen .ersrv-widget-calendar .ui-datepicker .ui-datepicker-next.ui-state-hover{
	color: #000;
    background-color: var(--theme-twentynineteen-accent-300);
    border-color: var(--theme-twentynineteen-accent-700);
}

.theme-twentynineteen .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-header .ui-datepicker-prev,
.theme-twentynineteen .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-header .ui-datepicker-next {
	width: 40px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	border: 1px solid var(--theme-twentynineteen-accent);
	cursor: pointer;
}

.theme-twentynineteen .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td span,
.theme-twentynineteen .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a,
.theme-twentynineteen .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a a {
	padding: 11px;
	text-align: center;
}

.theme-twentynineteen .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td.ui-state-highlight,
.theme-twentynineteen .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a.ui-state-highlight {
	color: #3e3e3e;
	background-color: var(--theme-twentynineteen-accent-300);
	border-radius: 100%;
}

.theme-twentynineteen .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td.ui-state-active,
.theme-twentynineteen .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a.ui-state-active {
	color: #fff;
	background-color: var(--theme-twentynineteen-accent);
	border-radius: 100%;
}
.theme-twentynineteen .ui-datepicker-calendar .ui-state-disabled *, 
.theme-twentynineteen .ui-datepicker-calendar .ersrv-date-disabled * {
    color: #fff;
    background-color: #e0e0e0;
    border-radius: 100%;
}
/*-------------------- end here ----------------------------*/
/* for twentyseventeen Theme */
.theme-twentyseventeen .ersrv-widget-calendar .ui-datepicker-inline{
	width: 23em;
}
.theme-twentyseventeen .ersrv-widget-calendar .ui-datepicker-inline table tr{
	border: 0px;
}
.theme-twentyseventeen .ersrv-widget-calendar .ui-datepicker .ui-datepicker-prev,
.theme-twentyseventeen .ersrv-widget-calendar .ui-datepicker .ui-datepicker-next{
	color: #fff;
	background-color: var(--theme-twentyseventeen-accent-700);
	border-color: var(--theme-twentyseventeen-accent-700);
}
.theme-twentyseventeen .ersrv-widget-calendar .ui-datepicker .ui-datepicker-prev.ui-state-hover,
.theme-twentyseventeen .ersrv-widget-calendar .ui-datepicker .ui-datepicker-next.ui-state-hover{
	color: #000;
    background-color: var(--theme-twentyseventeen-accent-300);
    border-color: var(--theme-twentyseventeen-accent-700);
}
.theme-twentyseventeen .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td span,
.theme-twentyseventeen .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a,
.theme-twentyseventeen .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a a {
	padding: 9px;
	text-align: center;
}

.theme-twentyseventeen .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td.ui-state-highlight,
.theme-twentyseventeen .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a.ui-state-highlight {
	color: #3e3e3e;
	background-color: var(--theme-twentyseventeen-accent-300);
	border-radius: 100%;
}

.theme-twentyseventeen .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td.ui-state-active,
.theme-twentyseventeen .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a.ui-state-active {
	color: #fff;
	background-color: var(--theme-twentyseventeen-accent);
	border-radius: 100%;
}
.theme-twentynineteen .ersrv-widget-calendar .ui-datepicker-inline table tr{
	border: 0px !important;
}
.theme-twentyseventeen .button{
	background-color: var(--theme-twentyseventeen-accent-700);
	color: #fff;
}
.theme-twentyseventeen .button:hover{
	color: #000;
	background-color: var(--theme-twentyseventeen-accent-300);
	border-color: var(--theme-twentyseventeen-accent-700);
}
/*-------------------- end here ----------------------------*/
/* for twentysixteen Theme */
.theme-twentysixteen .ersrv-widget-calendar .ui-datepicker .ui-datepicker-prev,
.theme-twentysixteen .ersrv-widget-calendar .ui-datepicker .ui-datepicker-next{
	color: #fff;
	border-color: var(--theme-twentysixteen-accent-700);
	background-color: var(--theme-twentysixteen-accent-700);
}
.theme-twentysixteen .ersrv-widget-calendar .ui-datepicker .ui-datepicker-prev.ui-state-hover,
.theme-twentysixteen .ersrv-widget-calendar .ui-datepicker .ui-datepicker-next.ui-state-hover{
	color: #000;
    background-color: var(--theme-twentysixteen-accent-300);
    border-color: var(--theme-twentysixteen-accent-700);
}
.theme-twentysixteen .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td span,
.theme-twentysixteen .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a,
.theme-twentysixteen .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a a {
	padding: 6px 7px;
	text-align: center;
}

.theme-twentysixteen .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td.ui-state-highlight,
.theme-twentysixteen .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a.ui-state-highlight {
	color: #3e3e3e;
	background-color: var(--theme-twentysixteen-accent-300);
	border-radius: 100%;
}

.theme-twentysixteen .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td.ui-state-active,
.theme-twentysixteen .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a.ui-state-active {
	color: #fff;
	background-color: var(--theme-twentysixteen-accent);
	border-radius: 100%;
}
.theme-twentysixteen .button{
	background-color: var(--theme-twentysixteen-accent-700);
	color: #fff;
}
.theme-twentysixteen .button:hover{
	color: #000;
	background-color: var(--theme-twentysixteen-accent-300);
	border-color: var(--theme-twentysixteen-accent-700);
}
/*-------------------- end here ----------------------------*/
/* for twentytwenty Theme */
.theme-twentytwenty .ersrv-widget-calendar .ui-datepicker .ui-datepicker-prev,
.theme-twentytwenty .ersrv-widget-calendar .ui-datepicker .ui-datepicker-next{
	color: #fff;
    border-color: var(--theme-twentytwenty-accent-700);
	background-color: var(--theme-twentytwenty-accent-700);
}
.theme-twentytwenty .ersrv-widget-calendar .ui-datepicker .ui-datepicker-prev.ui-state-hover,
.theme-twentytwenty .ersrv-widget-calendar .ui-datepicker .ui-datepicker-next.ui-state-hover{
	color: #000;
    background-color: var(--theme-twentytwenty-accent-300);
    border-color: var(--theme-twentytwenty-accent-700);
}
.theme-twentytwenty .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td span,
.theme-twentytwenty .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a,
.theme-twentytwenty .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a a {
	padding: 6px 7px;
	text-align: center;
}

.theme-twentytwenty .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td.ui-state-highlight,
.theme-twentytwenty .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a.ui-state-highlight {
	color: #3e3e3e;
	background-color: var(--theme-twentytwenty-accent-300);
	border-radius: 100%;
}

.theme-twentytwenty .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td.ui-state-active,
.theme-twentytwenty .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a.ui-state-active {
	color: #fff;
	background-color: var(--theme-twentytwenty-accent);
	border-radius: 100%;
}
.theme-twentytwenty .ersrv-widget-calendar .ui-datepicker-inline,
.theme-twentytwenty .ersrv-reservation-widget-container{
	width: 15em;
}
.theme-twentytwenty .ersrv-reservation-widget-container .selectbox select.selectpicker{
	font-size: 16px;
}
/*-------------------- end here ----------------------------*/
/* for twentytwenty Theme */
.theme-twentytwentyone .ersrv-widget-calendar .ui-datepicker-inline{
	width: 19.5em;
}
.theme-twentytwentyone .ersrv-widget-calendar .ui-datepicker .ui-datepicker-prev,
.theme-twentytwentyone .ersrv-widget-calendar .ui-datepicker .ui-datepicker-next{
	color: #fff;
    border-color: var(--theme-twentytwentyone-accent-700);
	background-color: var(--theme-twentytwentyone-accent-700);
}
.theme-twentytwentyone .ersrv-widget-calendar .ui-datepicker .ui-datepicker-prev.ui-state-hover,
.theme-twentytwentyone .ersrv-widget-calendar .ui-datepicker .ui-datepicker-next.ui-state-hover{
	color: #000;
    background-color: var(--theme-twentytwentyone-accent-300);
    border-color: var(--theme-twentytwentyone-accent-700);
}
.theme-twentytwentyone .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td span,
.theme-twentytwentyone .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a,
.theme-twentytwentyone .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a a {
	padding: 10px 8px;
	text-align: center;
}

.theme-twentytwentyone .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td.ui-state-highlight,
.theme-twentytwentyone .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a.ui-state-highlight {
	color: #3e3e3e;
	background-color: var(--theme-twentytwentyone-accent-300);
	border-radius: 100%;
}

.theme-twentytwentyone .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td.ui-state-active,
.theme-twentytwentyone .ersrv-widget-calendar .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a.ui-state-active {
	color: #fff;
	background-color: var(--theme-twentytwentyone-accent);
	border-radius: 100%;
}
.theme-twentytwentyone .ersrv-reservation-widget-container .selectbox select.selectpicker{
	border: var(--form--border-width) solid var(--form--border-color);
    color: var(--form--color-text);
}
/*-------------------- end here ----------------------------*/

.ersrv-reservation-widget-container .selectbox select.selectpicker {
    display: block!important;
}
.ersrv-widget-calendar .ui-datepicker .ui-datepicker-prev.ui-state-disabled,
.ersrv-widget-calendar .ui-datepicker .ui-datepicker-next.ui-state-disabled{
	opacity: 0.6;
}
.ersrv-reservation-widget-container .widget-title {
    font-size: 26px;
    font-weight: 600;
	margin-top: 0px;
    margin-bottom: 10px;
	padding: 0px;
}
.ersrv-reservation-widget-container .description {
    font-size: 18px;
    font-weight: 400;
	margin-top: 0px;
    margin-bottom: 10px;
	padding: 0px;
}
/* .form-control {
} */
select.form-control {
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #1a1a1a;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	
	/* border: var(--form--border-width) solid var(--form--border-color);
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background: var(--global--color-white) url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='%2328303d'><polygon points='0,0 10,0 5,5'/></svg>") no-repeat;
	background-position: right var(--form--spacing-unit) top 60%; */
}
a{
	text-decoration: none !important;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.widget_shopping_cart .product_list_widget li .variation{
    height: 100px;
    overflow: scroll;
    overflow-x: hidden;
}
.text-center{
	text-align: center;
}
.ersrv-book-item-from-widget .mt-2{
	margin-top: .5rem!important;
}

/*  */
.woocommerce-MyAccount-content .search-result-inner.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.woocommerce-MyAccount-content .search-result-inner.form-row > [class*=col-] {
    padding-right: 7px;
    padding-left: 7px;
}
.woocommerce-page .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
@media (min-width: 768px){
	.woocommerce-page .col-md-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}
}
@media (min-width: 992px){
	/* .woocommerce-page .col-lg-4 { */
	.theme-twentytwentyone .col-lg-4,
	.theme-astra .col-lg-4{
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
}

.woocommerce-MyAccount-content .search-result-inner .card{
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	border: 0px solid transparent;
	transition: 0.3s ease-in-out;
	margin-bottom: 21px;
	
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
}
.woocommerce-MyAccount-content .search-result-inner .card .card-body {
    padding: 30px;
    padding-top: 45px;
	flex: 1 1 auto;
	min-height: 1px;
}
.woocommerce-MyAccount-content .search-result-inner .card .media a {
    width: 100%;
    height: 240.047px;
    overflow: hidden;
	display: block;
}
.woocommerce-MyAccount-content .search-result-inner .card .media a img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
}
.woocommerce-MyAccount-content .search-result-inner .card .card-title {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 22px;
    color: #000;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0px;
}
.woocommerce-MyAccount-content .search-result-inner .card .card-title a{
	color: inherit;
}
.woocommerce-MyAccount-content .mb-3{
    margin-bottom: 1rem!important;
}
.woocommerce-MyAccount-content .search-result-inner .card .amenities {
    color: #5d6475;
    font-size: 14px;
    font-weight: 300;
    vertical-align: middle;
    margin-bottom: 21px;
}
.woocommerce-MyAccount-content .flex-column {
    flex-direction: column!important;
}

.woocommerce-MyAccount-content .d-flex {
    display: flex!important;
}
.woocommerce-MyAccount-content .font-weight-bold {
    font-weight: 700!important;
}

.woocommerce-MyAccount-content .mr-2{
    margin-right: .5rem!important;
}

.btn {
    padding: 8px 16px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}
@media only screen and (min-width: 1280px){
	.btns-group .btn {
		padding: 8px 11px;
		font-size: 16px;
		line-height: 24px;
	}
}
.btn-accent{
    color: #fff !important;
    background-color: #3ab166 !important;
    border-color: #3ab166 !important;
}

.btn-accent:hover,
.btn-accent:focus,
.btn-accent.focus,
.btn-accent:active,
.btn-accent.active {
    color: #000 !important;
    background-color: #cbefd9 !important;
    border-color: #3ab166 !important;
}

.btn-primary{
    background-color: #0c71c3 !important;
    color: #fff !important;
    border-color: #0c71c3 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active{
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: #0c71c3 !important;
    color: #d1e6f7 !important;
}
.woocommerce-MyAccount-content .search-result-inner .card .price-info {
    position: absolute;
    top: 16px;
    left: 14px;
}
.woocommerce-MyAccount-content .search-result-inner .card .price-info .inner-wrapper {
    background-color: #fff;
    border-radius: 4px;
    padding: 5px 14px;
    display: flex;
    align-items: center;
    font-weight: 600;
}
.woocommerce-MyAccount-content .search-result-inner .card .price-info .inner-wrapper span{
	margin-right: 4px;
    font-size: 18px;
    color: #3ab166;
}
.woocommerce-MyAccount-content .search-result-inner .card .favorite {
    position: absolute;
    top: 18px;
    right: 15px;
}
.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.woocommerce-MyAccount-content .search-result-inner .card .favorite a .icon-heart {
    display: inline-block;
    width: 29px;
    height: 25px;
    background-image: url(../../../images/heart_outline.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.woocommerce-MyAccount-content .search-result-inner .card .favorite a:hover .icon-heart,
.woocommerce-MyAccount-content .search-result-inner .card .favorite a.selected .icon-heart {
    background-image: url(../../../images/heart_fill.png);
}
/* colors  */
/* .theme-storefront  */
.theme-storefront .btn-accent{
    color: #fff !important;
    background-color: #96588a !important;
    border-color: #96588a !important;
}

.theme-storefront .btn-accent:hover,
.theme-storefront .btn-accent:focus,
.theme-storefront .btn-accent.focus,
.theme-storefront .btn-accent:active,
.theme-storefront .btn-accent.active {
    color: #000 !important;
    background-color: #c09bb9 !important;
    border-color: #96588a !important;
}

.theme-storefront .btn-primary{
    background-color: #43454b !important;
    color: #d1e4dd !important;
    border-color: #43454b !important;
}
.theme-storefront .btn-primary:hover,
.theme-storefront .btn-primary:focus,
.theme-storefront .btn-primary.focus,
.theme-storefront .btn-primary:active,
.theme-storefront .btn-primary.active{
    background-color: #b4b5b7  !important;
    border-color: #b4b5b7 !important;
    color: #43454b !important;
}
.theme-storefront  .woocommerce-MyAccount-content .search-result-inner .card .price-info .inner-wrapper span{
	color: #96588a;
}
/* .theme-storefront end here */
/* .theme-twentynineteen  */
.theme-twentynineteen .btn-accent{
    color: #fff !important;
    background-color: #005177 !important;
    border-color: #005177 !important;
}

.theme-twentynineteen .btn-accent:hover,
.theme-twentynineteen .btn-accent:focus,
.theme-twentynineteen .btn-accent.focus,
.theme-twentynineteen .btn-accent:active,
.theme-twentynineteen .btn-accent.active {
    color: #000 !important;
    background-color: #80a8bb !important;
    border-color: #80a8bb !important;
}

.theme-twentynineteen .btn-primary{
    background-color: #0073aa !important;
    color: #d1e4dd !important;
    border-color: #0073aa !important;
}
.theme-twentynineteen .btn-primary:hover,
.theme-twentynineteen .btn-primary:focus,
.theme-twentynineteen .btn-primary.focus,
.theme-twentynineteen .btn-primary:active,
.theme-twentynineteen .btn-primary.active{
    background-color: #111  !important;
    border-color: #111 !important;
    color: #fff !important;
}
.theme-twentynineteen .woocommerce-MyAccount-content .search-result-inner .card .price-info .inner-wrapper span{
	color: #005177;
}
/* .theme-twentynineteen end here */
/* .theme-twentyseventeen  */
.theme-twentyseventeen .btn-accent{
    color: #fff !important;
    background-color: #3ab166 !important;
    border-color: #3ab166 !important;
}

.theme-twentyseventeen .btn-accent:hover,
.theme-twentyseventeen .btn-accent:focus,
.theme-twentyseventeen .btn-accent.focus,
.theme-twentyseventeen .btn-accent:active,
.theme-twentyseventeen .btn-accent.active {
    color: #000 !important;
    background-color: #cbefd9 !important;
    border-color: #cbefd9 !important;
}

.theme-twentyseventeen .btn-primary{
    background-color: #222 !important;
    color: #fff !important;
    border-color: #222 !important;
}
.theme-twentyseventeen .btn-primary:hover,
.theme-twentyseventeen .btn-primary:focus,
.theme-twentyseventeen .btn-primary.focus,
.theme-twentyseventeen .btn-primary:active,
.theme-twentyseventeen .btn-primary.active{
    background-color: #111  !important;
    border-color: #111 !important;
    color: #fff !important;
}
.theme-twentyseventeen .woocommerce-MyAccount-content .search-result-inner .card .price-info .inner-wrapper span{
	color: #3ab166;
}
.theme-twentyseventeen .woocommerce-MyAccount-content .search-result-inner.form-row a{
    text-decoration: none !important;
	box-shadow: none !important;
}
/* .theme-twentyseventeen end here */
/* .theme-twentysixteen  */
.theme-twentysixteen .woocommerce-MyAccount-content .search-result-inner.form-row a{
    text-decoration: none !important;
	box-shadow: none !important;
}
.theme-twentysixteen .btn-accent{
    color: #fff !important;
    background-color: #007acc !important;
    border-color: #007acc !important;
}

.theme-twentysixteen .btn-accent:hover,
.theme-twentysixteen .btn-accent:focus,
.theme-twentysixteen .btn-accent.focus,
.theme-twentysixteen .btn-accent:active,
.theme-twentysixteen .btn-accent.active {
    color: #000 !important;
    background-color: #66afe0 !important;
    border-color: #66afe0 !important;
}

.theme-twentysixteen .btn-primary{
    background-color: #1a1a1a !important;
    color: #fff !important;
    border-color: #1a1a1a !important;
}
.theme-twentysixteen .btn-primary:hover,
.theme-twentysixteen .btn-primary:focus,
.theme-twentysixteen .btn-primary.focus,
.theme-twentysixteen .btn-primary:active,
.theme-twentysixteen .btn-primary.active{
    background-color: #007acc  !important;
    border-color: #007acc !important;
    color: #fff !important;
}
.theme-twentysixteen .woocommerce-MyAccount-content .search-result-inner .card .price-info .inner-wrapper span{
	color: #007acc;
}
/* .theme-twentysixteen end here */
/* .theme-twentytwenty  */
.theme-twentytwenty .btn-accent{
    color: #fff !important;
    background-color: #333 !important;
    border-color: #000 !important;
}

.theme-twentytwenty .btn-accent:hover,
.theme-twentytwenty .btn-accent:focus,
.theme-twentytwenty .btn-accent.focus,
.theme-twentytwenty .btn-accent:active,
.theme-twentytwenty .btn-accent.active {
    color: #fff !important;
    background-color: #cd2653 !important;
    border-color: #000 !important;
}

.theme-twentytwenty .btn-primary{
    background-color: #cd2653 !important;
    color: #fff !important;
    border-color: #cd2653 !important;
}
.theme-twentytwenty .btn-primary:hover,
.theme-twentytwenty .btn-primary:focus,
.theme-twentytwenty .btn-primary.focus,
.theme-twentytwenty .btn-primary:active,
.theme-twentytwenty .btn-primary.active{
    background-color: #000  !important;
    border-color: #000 !important;
    color: #fff !important;
}
.theme-twentytwenty .woocommerce-MyAccount-content .search-result-inner .card .price-info .inner-wrapper span{
	color: #cd2653;
}
/* .theme-twentytwenty end here */
/* .theme-twentytwentyone  */
.theme-twentytwentyone .btn-accent{
    color: #fff !important;
    background-color: #3ab166 !important;
    border-color: #3ab166 !important;
}

.theme-twentytwentyone .btn-accent:hover,
.theme-twentytwentyone .btn-accent:focus,
.theme-twentytwentyone .btn-accent.focus,
.theme-twentytwentyone .btn-accent:active,
.theme-twentytwentyone .btn-accent.active {
    color: #000 !important;
    background-color: #cbefd9  !important;
    border-color: #3ab166 !important;
}

.theme-twentytwentyone .btn-primary{
    background-color: #28303d !important;
    color: #d1e4dd !important;
    border-color: #28303d !important;
}
.theme-twentytwentyone .btn-primary:hover,
.theme-twentytwentyone .btn-primary:focus,
.theme-twentytwentyone .btn-primary.focus,
.theme-twentytwentyone .btn-primary:active,
.theme-twentytwentyone .btn-primary.active{
    background-color: transparent !important;
    border-color: #28303d !important;
    color: #28303d !important;
}
.theme-twentytwentyone .woocommerce-MyAccount-content .search-result-inner .card .price-info .inner-wrapper span{
	color: #3ab166;
}
/* .theme-twentytwentyone end here */