.site,
.theme-twentynineteen .site-content .site-main .page .entry-content,
.theme-twentytwenty #site-content .wrapper,
.theme-twentytwentyone .site-content > .content-area > #main .wrapper{
    margin: 0px;
}
table{
    border-width: 0px;
}
.site-inner,
.theme-astra .site-content > .ast-container,
.theme-astra .site-content > .ast-container > section,
.theme-storefront .site-content > .col-full,
.theme-twentytwentyone .site-content > .content-area,
.theme-twentynineteen .site-content .site-main .page .entry-content,
.theme-twentynineteen .site-content .site-main .page .entry-content .wrapper,
.theme-twentytwenty #site-content .wrapper,
.theme-twentytwentyone .site-content > .content-area > #main .wrapper{
    max-width: 100%;
}
.site-content,
.theme-astra .site-content > .ast-container,
.theme-storefront .site-content > .col-full,
.theme-twentytwentyone .site-content > .content-area,
.theme-twentytwentyone .site-content > .content-area > #main > .wrapper,
.theme-twentynineteen .site-content .site-main .page .entry-content{
    padding: 0px;
}
.theme-astra .site-content > .ast-container > section,
.theme-twentytwenty #site-content .wrapper,
.theme-twentytwentyone .site-content > .content-area > #main .wrapper{
    width: 100%;
}
.theme-astra .site-content .ast-container .content-area{
    margin-bottom: 0px !important;
}
.non-clickable {
	pointer-events: none;
	opacity: 0.5;
}
h1:not(.site-title):before, h2:before,
.page .entry-header,
.page .entry-footer{
    display: none !important;
}
@media(max-width:1063px){
    .site-content,
    .theme-astra .site-content > .ast-container,
    .theme-storefront .site-content > .col-full,
    .theme-twentytwentyone .site-content > .content-area > #main{
        margin: 0px;
    }
}
/* Search page */
.theme-twentyseventeen .site-content > .wrap{
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}
.theme-twentyseventeen .site-content > .wrap .page {
    display: flex;
    flex-direction: column;
}
.theme-twentyseventeen .site-content > .wrap .page .entry-header,
.theme-twentyseventeen .site-content > .wrap .page .entry-content{
    width: 100% !important;
    max-width: 100%;
    flex-basis: 100%;
}

.theme-astra .site-content > .ast-container .ast-article-single{
    padding: 0px;
}
.form-control{
    border-radius: 4.8px !important;
}
.ersrv-reservation-error{
    color: #f00;
    font-size: 14px;
    font-weight: 400;
    padding: 4px 8px;
    line-height: 20px;
    text-transform: capitalize;
    margin: 10px 0px 0px 4px;
}
.sidebar-wrapper .calc-wrapper .table.table.table-borderless td,
.sidebar-wrapper .calc-wrapper .table.table.table-borderless th{
    padding: 0px 0px 5px;
    font-size: 16px;
}
.ersrv-notification-wrapper{
    bottom: 40px;
    left: 0px;
    right: 0px;
    display: inline-flex;
    justify-content: center;
    pointer-events: none;
}
.ersrv-notification{
    border: 1px solid transparent;
    transform: translateY(100px);
    transition: 0.3s ease-in-out;
    transform-origin: bottom;
    pointer-events: auto;
}
.ersrv-notification.toast.hide{
    display: block;
}
.ersrv-notification.fade:not(.show),
.ersrv-notification.toast:not(.hide){
    transform: translateY(0px);
    transform-origin: top;
}
.ersrv-notification.bg-success *,
.ersrv-notification.bg-danger *{
    color: #fff;
}
.ersrv-notification.bg-warning *{
    color: #000;
}
.ersrv-notification a{
    text-decoration: underline;
}
.ui-datepicker td span{
    padding: 9px;
    text-align: center;
}
#ui-datepicker-div td span{
    padding: 6px;
}
.ui-datepicker-calendar .ui-state-disabled *,
.ui-datepicker-calendar .ersrv-date-disabled *{
    color: #fff;
    background-color: #e0e0e0;
    border-radius: 100%;
}
a.btn,
.btn a,
a.btn:hover,
.btn a:hover{
    text-decoration: none !important;
}
.slider-wrapper .search-price-range-slider {
    margin: 0px 1.5rem;
}
.wrapper.search-page .content-part .search-results-wrapper .search-result-inner .card .media a{
    width: 100%;
    height: 278.047px;
    overflow: hidden;
}
.wrapper.search-page .content-part .search-results-wrapper .search-result-inner .card .media a img{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
}
.wrapper.search-page .content-part .search-results-wrapper .search-result-inner .card .price-info{
    max-width:none;
}
.search-page .slider-wrapper *{
    color: white;
}
.search-page .slider-wrapper > h4:nth-child(1){
    margin-bottom: 0px !important;
}
.search-page .slider-wrapper > h4:nth-child(2){
    margin-bottom: 10px !important;
}
.wrapper.search-page .banner .form-wrapper .form-inner input.date-control:not(.ship-icon-field) {
    background-position: 95% ;
}
/* Experimental */
/* body::after {
    position: fixed;
    z-index: 99999;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.125);
    content: "";
    display: inline-block;
    pointer-events: none;
    top: 0px;
    left: 0px;
} */