body:not(.archive):not(.tax-reservation-item-type) .site,
body:not(.archive):not(.post-type-archive):not(.post-type-archive-product) .site,
.theme-twentynineteen .site-content .site-main .page .entry-content,
.theme-twentytwenty #site-content .wrapper,
.theme-twentytwentyone:not(.archive):not(.post-type-archive):not(.post-type-archive-product) .site-content>.content-area>#main .wrapper{
    margin: 0px;
}

table {
    border-width: 0px;
}

.site-inner,
.theme-astra:not(.archive):not(.post-type-archive):not(.post-type-archive-product) .site-content>.ast-container,
.theme-astra:not(.archive):not(.post-type-archive):not(.post-type-archive-product) .site-content>.ast-container>section,
.theme-storefront .site-content>.col-full,
.theme-twentytwentyone .site-content>.content-area,
.theme-twentynineteen .site-content .site-main .page .entry-content,
.theme-twentynineteen .site-content .site-main .page .entry-content .wrapper,
.theme-twentytwenty #site-content .wrapper,
.theme-twentytwentyone .site-content>.content-area>#main .wrapper {
    max-width: 100%;
}

body:not(.archive):not(.tax-reservation-item-type) .site-content,
body:not(.archive):not(.post-type-archive):not(.post-type-archive-product) .site-content,
.theme-astra:not(.archive):not(.post-type-archive):not(.post-type-archive-product) .site-content>.ast-container,
.theme-storefront .site-content>.col-full,
.theme-twentytwentyone:not(.archive):not(.post-type-archive):not(.post-type-archive-product) .site-content>.content-area,
.theme-twentytwentyone:not(.archive):not(.post-type-archive):not(.post-type-archive-product) .site-content>.content-area>#main>.wrapper,
.theme-twentynineteen .site-content .site-main .page .entry-content{
    padding: 0px;
}

.theme-astra .site-content>.ast-container>section,
.theme-twentytwenty #site-content .wrapper,
.theme-twentytwentyone .site-content>.content-area>#main .wrapper {
    width: 100%;
}

.theme-astra .site-content .ast-container .content-area {
    margin-bottom: 0px !important;
}
/* body.theme-twentysixteen{
    background-color: #1a1a1a;
} */
.non-clickable {
    pointer-events: none !important;
    opacity: 0.5;
}

.non-clickable *::after,
.non-clickable *::before {
    pointer-events: none !important;
}

h1:not(.site-title):before,
h2:before,
.page .entry-header,
.page .entry-footer {
    display: none !important;
}

@media(max-width:1063px) {

    .site-content,
    .theme-astra .site-content>.ast-container,
    .theme-storefront .site-content>.col-full,
    .theme-twentytwentyone .site-content>.content-area>#main {
        margin: 0px;
    }
}

/* Search page */
.theme-twentyseventeen:not(.archive):not(.post-type-archive):not(.post-type-archive-product) .site-content>.wrap {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}

.theme-twentyseventeen .site-content>.wrap .page {
    display: flex;
    flex-direction: column;
}

.theme-twentyseventeen .site-content>.wrap .page .entry-header,
.theme-twentyseventeen .site-content>.wrap .page .entry-content {
    width: 100% !important;
    max-width: 100%;
    flex-basis: 100%;
}

.theme-astra .site-content>.ast-container .ast-article-single {
    padding: 0px;
}

.form-control {
    border-radius: 4.8px !important;
}

.ersrv-reservation-error {
    color: #f00;
    font-size: 14px;
    font-weight: 400;
    padding: 4px 8px;
    line-height: 20px;
    text-transform: capitalize;
    margin: 10px 0px 0px 4px;
}

.sidebar-wrapper .calc-wrapper .table.table.table-borderless td,
.sidebar-wrapper .calc-wrapper .table.table.table-borderless th {
    padding: 0px 0px 5px;
    font-size: 16px;
}

.ersrv-notification-wrapper {
    bottom: calc(40px - 1rem) !important;
    left: 0px;
    right: 0px;
    display: inline-flex;
    justify-content: center;
    pointer-events: none;
    z-index: 99999 !important;
}

.ersrv-notification {
    border: 1px solid transparent;
    transform: translateY(100px);
    transition: 0.3s ease-in-out;
    transform-origin: bottom;
    pointer-events: auto;
    z-index: 99999;
}

.ersrv-notification.toast.hide {
    display: block;
}

.ersrv-notification.fade:not(.show),
.ersrv-notification.toast:not(.hide) {
    transform: translateY(0px);
    transform-origin: top;
}

.ersrv-notification.bg-success *,
.ersrv-notification.bg-danger * {
    color: #fff;
}

.ersrv-notification.bg-warning * {
    color: #000;
}

.ersrv-notification .close {
    background-color: transparent !important;
}

.ersrv-notification a {
    text-decoration: underline;
}

.ui-datepicker td span {
    padding: 9px;
    text-align: center;
}

#ui-datepicker-div td span {
    padding: 6px;
}

.ui-datepicker-calendar .ui-state-disabled *,
.ui-datepicker-calendar .ersrv-date-disabled * {
    color: #fff;
    background-color: #e0e0e0;
    border-radius: 100%;
}

a.btn,
.btn a,
a.btn:hover,
.btn a:hover {
    text-decoration: none !important;
}

.slider-wrapper .search-price-range-slider {
    margin: 0px 1.5rem;
}

.wrapper.search-page .content-part .search-results-wrapper .search-result-inner .card .media a {
    width: 100%;
    height: 278.047px;
    overflow: hidden;
}

.wrapper.search-page .content-part .search-results-wrapper .search-result-inner .card .media a img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
}

.wrapper.search-page .content-part .search-results-wrapper .search-result-inner .card .price-info {
    max-width: none;
}

.search-page .slider-wrapper * {
    color: white;
}

.search-page .slider-wrapper h3 {
    font-size: 16px !important;
}

.search-page .slider-wrapper>h4:nth-child(1) {
    margin-bottom: 0px !important;
}

.search-page .slider-wrapper>h4:nth-child(2) {
    margin-bottom: 10px !important;
}

.wrapper.search-page .banner .form-wrapper .form-inner input.date-control:not(.ship-icon-field) {
    background-position: 95%;
}

.site a:focus:not(.wp-block-button__link):not(.wp-block-file__button):not(.btn-outline-primary):not(.loadmore-btn) {
    background: transparent !important;
}

#ui-datepicker-div .ersrv-date-active {
    background-color: transparent !important;
}

@media(max-width:1024px) {

    .wrapper .content-part .datepicker .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a,
    .wrapper .content-part .datepicker .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a a,
    .ui-datepicker td span {
        padding: 4px 6px;
    }
}

@media(max-width:991px) {

    .wrapper .content-part .datepicker .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a,
    .wrapper .content-part .datepicker .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a a,
    .ui-datepicker td span {
        padding: 9px;
    }
}

@media(max-width:767px) {

    #ui-datepicker-div .ui-datepicker-calendar tbody tr td a,
    #ui-datepicker-div .ui-datepicker-calendar tbody tr td a a {
        padding: 4px;
    }

    .ui-datepicker-calendar .ui-state-disabled *,
    .ui-datepicker-calendar .ersrv-date-disabled * {
        padding: 6px !important;
    }
}

.edit-order-wrapper .section-title {
    font-size: 46px;
    text-align: center;
    margin-bottom: 44px;
    font-weight: 600;
}

.edit-order-wrapper .card .form-wrapper .form-control {
    padding: 8px 10px;
    background-position: 97% !important;
}

.edit-order-wrapper .card .card-title,
.edit-order-wrapper .card .CTA h4 {
    margin-top: 0px !important;
}

.edit-order-wrapper .card .CTA h4 {
    font-size: 14px;
}

.edit-order-wrapper .card .CTA,
.edit-order-wrapper .card .CTA .ersrv-edit-reservation-item-summary {
    position: relative;
}

.edit-order-wrapper .card .CTA .ersrv-edit-reservation-item-summary .ersrv-edit-reservation-item-summary-wrapper {
    position: absolute;
    bottom: 30px;
    max-width: 200px;
    right: 0px;
    font-size: 14px;
    line-height: normal;
    height: auto;
    background: #fff;
    border: 1px solid transparent;
    border-radius: 10px;
    /* box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; */
    box-shadow: 0rem 0.2rem 1rem rgba(0, 0, 0, .45);
    overflow: hidden;
    padding: 10px 0px;
    opacity: 0;
    z-index: 101;
    visibility: hidden;
}

.edit-order-wrapper .card .CTA .ersrv-edit-reservation-item-summary::after {
    content: "";
    position: absolute;
    right: 80px;
    top: -40px;
    display: inline-block;
    height: 16px;
    width: 16px;
    background: #fff;
    border: 1px solid transparent;
    /* box-shadow: 0rem 0rem 1.2rem rgba(0,0,0,.35); */
    transform: rotate(45deg);
    opacity: 0;
    visibility: hidden;
    z-index: 102;
}

.edit-order-wrapper .card .CTA .ersrv-edit-reservation-item-summary.show .ersrv-edit-reservation-item-summary-wrapper,
.edit-order-wrapper .card .CTA .ersrv-edit-reservation-item-summary.show::after {
    opacity: 1;
    visibility: visible;
}

.ersrv-edit-reservation-item-summary table {
    margin-bottom: 0px;
}

.ersrv-edit-reservation-item-summary table td,
.ersrv-edit-reservation-item-summary table th {
    padding: 0.2rem 0.5rem;
    vertical-align: middle;
}

.ersrv-edit-reservation-item-summary table td {
    text-align: right;
}

.ersrv-edit-reservation-item-summary table td *,
.ersrv-edit-reservation-item-summary table th {
    color: #7e808c !important;
    font-size: 16px;
}

.ersrv-edit-reservation-item-summary table .edit-reservation-item-total-cost {
    border-top: 1px solid #a7a9b1;
}

.ersrv-edit-reservation-item-summary table .edit-reservation-item-total-cost * {
    color: #000 !important;

}

.edit-order-wrapper .card .CTA h4 .ersrv-split-reservation-cost {
    font-size: 14px;
    /* vertical-align: bottom; */
}

.details .form-wrapper .form-row label[for] {
    cursor: pointer;
}

@media(max-width:991px) {
    .ersrv-edit-reservation-template .site-main>article .entry-content {
        margin: 0px;
    }
}

@media(max-width:767px) {
    .edit-order-wrapper .card .CTA .ersrv-edit-reservation-item-summary .ersrv-edit-reservation-item-summary-wrapper {
        bottom: 40px;
    }

    .edit-order-wrapper .card .CTA .ersrv-edit-reservation-item-summary::after {
        top: -50px;
    }

    .edit-order-wrapper .section-title {
        font-size: 28px;
    }

    .details .form-wrapper .form-row .col-12:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.edit-order-wrapper .card .CTA .btn {
    font-size: 14px;
    letter-spacing: normal;
    text-transform: capitalize;
    padding: 4px 8px;
}

.theme-twentysixteen .edit-order-wrapper .card .CTA h4 {
    letter-spacing: normal;
    text-transform: capitalize;
}

.edit-order-wrapper .card .card-title a {
    font-weight: 600;
}

.theme-twentytwenty .edit-order-wrapper .card .card-title {
    font-size: 2.5rem;
}

.theme-twentysixteen .edit-order-wrapper .card a {
    box-shadow: none !important;
}

.theme-twentytwenty .edit-order-wrapper .card .custom-switch {
    padding-left: 1rem;
}

.theme-twentytwentyone .edit-order-wrapper .card .custom-switch {
    padding-left: 0.5rem;
}

.edit-order-wrapper .group-update-btn {
    margin-top: 30px;
}

/* .edit-order-wrapper .group-update-btn *:not(.btn){
    width: 100%;
    flex: 0 0 100%;
    text-align: center;
} */
.edit-order-wrapper .group-update-btn .btn,
.edit-order-wrapper .group-update-btn h4 {
    font-size: 16px;
}

.edit-order-wrapper.wrapper {
    background-color: transparent !important;
}

.ersrv-edit-reservation-template .ersrv-reservation-error {
    text-transform: lowercase;
}

.ersrv-no-reservation-post-found {
    background-image: url(../../images/no_data.png);
    width: 100%;
    padding-top: 300px;
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
}

.ersrv-no-reservation-post-found a.btn {
    font-size: 16px;
    font-weight: 600;
    padding: 16px 32px;
    letter-spacing: normal;
}

.theme-twentytwenty .custom-control-input,
.theme-twentytwentyone .custom-control-input {
    position: absolute !important;
}

.theme-twentytwentyone .wrapper .sidebar-wrapper .book-tour .details .custom-switch,
.theme-twentytwentyone .wrapper .sidebar-wrapper .advanced-search .details .custom-switch {
    transform: translateX(30px);
}

.theme-twentytwenty table {
    margin-top: 0px !important;
}

.btn-outline-light {
    color: #212529;
}
.btn-outline-secondary:focus {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.ersrv-powered-by-cmsminds a{
    margin-top: 16px;
    text-indent: -9999px;
    display: block;
    height: 24px;
    width: 100%;
    background-image: url(../../images/Powered-by.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/* Experimental */
/* body::after {
    position: fixed;
    z-index: 99999;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.125);
    content: "";
    display: inline-block;
    pointer-events: none;
    top: 0px;
    left: 0px;
} */