ul.wc-tabs li.reservation_details_tab a::before,
ul.wc-tabs li.reservation_blockout_dates_tab a::before {
	font-family: Dashicons;
	content: "\f508" !important;
}

.ersrv-remove-blockout-date-html::before,
.ersrv-remove-amenity-html::before {
	font-family: Dashicons;
	content: "\f158" !important;
}

.ersrv-add-amenity-html::before,
.ersrv-add-blockedout-date-html::before {
	font-family: Dashicons;
	content: "\f132" !important;
}

.reservation-tab-setting-heading {
	margin-left: 10px;
}

.ersrv-copy-adult-charge {
	margin-left: 10px;
}

.non-clickable {
	pointer-events: none;
	opacity: 0.5;
}

.dropdown.rothco {
	display: inline-block;
	margin-left: 4px;
	padding: 3px 8px;
	position: relative;
	text-decoration: none;
	border: 1px solid #0071a1;
	border-radius: 2px;
	text-shadow: none;
	font-weight: 600;
	font-size: 13px;
	line-height: normal;
	color: #0071a1;
	background: #f3f5f6;
	cursor: pointer;
	top: -3px;
}

.dropdown.rothco .dropbtn {
	font-size: 14px;
	border: none;
	outline: none;
	color: #0071a1;
	padding: 0;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	font-weight: 600;
}

.navbar a:hover, .dropdown.rothco:hover .dropbtn {
	background-color: #f3f5f6;
}
	
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	top: 100%;
	left: 0;
	width: 210px;
}

.dropdown-content a {
	float: none;
	color: #0071a1;
	padding: 8px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown.rothco:hover .dropdown-content {
	display: block;
}

.woocommerce_options_panel .form-field.amenities-row,
.woocommerce_options_panel .form-field.blockout-dates-row {
    padding-left: 16px !important;
    display:flex;
}

.amenities-row .short,
.blockout-dates-row .short {
	width:calc( 100%/ 2 - 16px ) !important;
	margin-right:16px;
}

.reservations-amenities-header,
.reservations-blockout-dates-header {
    display: flex;
    align-items: center;
}

.reservations-amenities-header .reservation-tab-setting-heading,
.reservations-blockout-dates-header .reservation-tab-setting-heading {
    margin-right: 1.33em;
}

.ersrv-blockout-dates-message {
	margin-top: 10px;
}

.ersrv-blockout-dates-message textarea {
	width: 100%;
}

.ersrv-form-description-text {
	color: #b2b2b2;
	font-size: 12px !important;
}

.ersrv-create-new-customer-link {
	font-size: 12px;
}

.ersrv-new-reservation-limit-text {
	display: block;
}

/* The switch - the box around the slider */
.ersrv-switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

/* Hide default HTML checkbox */
.ersrv-switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.ersrv-switch-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.ersrv-switch-slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

.ersrv-switch-input:checked + .ersrv-switch-slider {
	background-color: #2196F3;
}

.ersrv-switch-input:focus + .ersrv-switch-slider {
	box-shadow: 0 0 1px #2196F3;
}

.ersrv-switch-input:checked + .ersrv-switch-slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.ersrv-new-reservation-single-amenity {
	width: 30%;
	float: left;
}

.ersrv-new-reservation-single-amenity.mtop {
	margin-top: 5px;
}

.ersrv-reservation-error {
	color: red;
}
